@model LoginReg.Models.User

@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<<<<<<< HEAD
<br /><br />

      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input class="form-control" type="text" onblur="validateFirstname()" name="Firstname" id="firstname" placeholder="FirstName" />
          </div>
          <span id="firstnameerror" style="visibility:hidden"></span>
          @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
      </div>

<div class="container">
    <div class="col-md-4">
        <input type="file" id="SelectImage" /><br />
        <a href="#" class="btn btn-sm btn-danger" onclick="UploadImage()">Upload</a>
    </div>

    <div class="col-md-4 thumbnail" id="UploadedImage"></div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    var UploadImage = function () {
        var file = $("#SelectImage").get(0).files;
        var data = new FormData;
        data.append("postedFile", file[0]);
        $.ajax({
            type: "POST",
            url: "/Image/ImageUpload",
            data: data,
            contentType: false,
            processData: false,
            success: function (imgID) {
                $("#UploadedImage").append('<img src="/Home/DisplayingImage?imgID=' + imgID + '"class=img-responsive  thimbnail"/>');
            }
        })
    }

</script>
=======

@using (Html.BeginForm("AddImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        <div class="form-group">
            @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="postedFile" id="postedFile" />
                <span class="field-validation-valid" data-valmsg-for="postedFile" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
>>>>>>> d6480a83ec64e5e645cacca771a042f600696335
